# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# default build folder
/builddir

# possible ldc sources
/ldc
/ldc2
/ldc-src
/ldc2-src

# Lit
.lit_test_times.txt
tests/*/Output/*
